.information div {
	position: absolute;
	top: 340px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50%;
    text-align: center;
}

.information .background-img {
	filter: blur(3px) grayscale(20%);
	
    background-image: url("../images/2017-Indian-motorcycle-rangecrop2.jpg");
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	border-style: solid;
    border-width: thin;
}

.information .text {
	text-shadow: 2px 1px 1px black;
	text-decoration: none;
	font-size:27px;
	font-weight: 900;
	color: white;
}

a {
	color: #66a3ff;
}