body {
	margin:0;
}

.background {
	position: absolute;
    overflow: hidden;
	z-index: -100;
}

.background_video {
    position: relative;
    width: 100vw;
    height: 100%;
	z-index: -100;
	
}

@media screen and (max-width: 600px) {
    ul.navbar li.right, 
    ul.navbar li {
		float: none;
	}
}

ul {
	position: fixed;
    list-style-type: none;
	top:0px;
	left:0px;
	height:50px;
	width:100%;
	margin: 0;
	padding:0;
	background-color: #333;
	overflow:visible;
}

.navbar li {
	float: left;
}

.navbar .right {
	float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .active {
    background-color: #66a3ff;
}

li a:hover:not(.active) {
    background-color: #111;
}

li .active:hover {
    background-color: #1a75ff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
	display: block;
    text-align: left;
}

li div.dropdown-content a:hover {
	background-color: #80b3ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.article {
	padding-left: 200px;
	padding-top: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}