.imgcontainer {
    text-align: center;
    margin: 5px 0 12px 0;
}

img.avatar {
    width: 25%;
    border-radius: 75%;
}

.container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
    width: 100%;
}


.profile-overview {
	background-color: #333;
	border-style: solid;
    border-width: thin;
	position: fixed;
	left: 50%;
	top: 53%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 40%;
}